#wrapper {
    position: relative;
    min-height:100%;
}
footer {
    height: 44px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}


body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
img.movieImg {
    width: 200px;
}
#warning-sign-up {
    color: red;
    font-weight: 500;
}
